* {
  box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: #f0f1f2;
  color: #313131;
}

img {
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: 600;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 105%;
}

p {
  margin-bottom: 1em;
}

ul {
  padding-left: 1.5em;
}

ul li {
  list-style-type: disc;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

body {
  font-family: 'Rubik', sans-serif;
}

.table-holder {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

table {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 14px;
}

table th, table td {
  padding: 0.5rem 1rem;
}

table th:nth-child(3), table td:nth-child(3) {
  min-width: 7.2em;
}

table th {
  font-size: 0.7em;
  text-align: left;
}

table td {
  border: 1px solid #999;
}

table td:first-child {
  text-align: right;
  font-size: 0.8em;
}
