* {
  box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: #f0f1f2;
  color: #313131;
}

img {
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 105%;
}

p {
  margin-bottom: 1em;
}

ul {
  padding-left: 1.5em;
}

ul li {
  list-style-type: disc;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

button {
  font-family: "Rubik", sans-serif;
  border: none;
  font-size: 1em;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

button.make-porn {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #4885ed;
  color: #eee;
  transition: transform 0.3s ease;
}

button.make-porn.invisible {
  transform: translateY(105%);
}

.porn-maker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-105%);
  font-family: "Rubik", sans-serif;
  transition: transform ease 1.3s;
}

.porn-maker.visible {
  transform: translateX(0);
}

.porn-maker .inner {
  padding: 3em 1em 1em 1em;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.porn-maker .close {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  color: #eee;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 2em;
  padding: 0;
  line-height: 100%;
  background-color: #eee;
  color: #4885ed;
  width: 1em;
  border-radius: 50%;
}

.porn-maker .close:hover {
  transform: scale(1.25);
}

.porn-maker.casting {
  width: 40em;
  background: #4885ed;
}

.cast-selection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: strech;
  -ms-flex-align: strech;
  align-items: strech;
  justify-content: space-between;
}

.cast-selection .cast {
  width: 49%;
  flex-basis: 49%;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: auto;
}

article.cast {
  background: #fff;
  border: 1px solid #313131;
  margin-bottom: 1em;
  padding: 1em;
  cursor: pointer;
}

article.cast h4 {
  font-size: 0.8rem;
  margin-top: .5em;
}

article.cast ul.stats {
  padding-left: 0;
}

article.cast ul.stats li {
  list-style-type: none;
  font-weight: 500;
}

article.cast ul.stats li:before {
  font-weight: 400;
}

article.cast ul.stats li.gender:before {
  content: "gender: ";
}

article.cast ul.stats li.sexuality:before {
  content: "sexuality: ";
}

article.cast ul.stats li.height:before {
  content: "height: ";
}

article.cast ul.tags, article.cast ul.kinks {
  padding: 0.2em 0 0 0;
}

article.cast ul.tags li, article.cast ul.kinks li {
  border-radius: 0.35em;
  background: #313131;
  color: #eee;
  display: inline-block;
  padding: 0.25em 0.75em;
  margin: 0 0.5em 0.5em 0;
  font-size: 0.8em;
}

article.cast.active {
  background: #3eae12;
}

article.cast.incompatible {
  opacity: 0.4;
  cursor: not-allowed;
}

body {
  font-family: 'Rubik', sans-serif;
}

.table-holder {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

table {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 14px;
}

table th, table td {
  padding: 0.5rem 1rem;
}

table th:nth-child(3), table td:nth-child(3) {
  min-width: 7.2em;
}

table th {
  font-size: 0.7em;
  text-align: left;
}

table td {
  border: 1px solid #999;
}

table td:first-child {
  text-align: right;
  font-size: 0.8em;
}
