//NORMALIZE, GET DEFAULTS
@import "globals/_reset";
@import "globals/_variables";
@import "globals/_mixins";
@import "globals/_extends";
@import "globals/_z-index";
@import "globals/_defaults";
//@import "globals/_sidebar";

@import "partials/_header";
// @import "partials/_sidebar";
@import "partials/_cast";



body {
  font-family: 'Rubik', sans-serif;
}

//body { padding-top: 10vh; padding-bottom: 10vh; }
.table-holder { padding:10vh $sidebar 10vh 1rem;
  
}


table { max-width: 600px; margin-left: auto; margin-right: auto; border-collapse: collapse; font-size:14px;
  caption { font-size:2em; text-align: center; font-weight: 500; padding-bottom: 0.5em; }
  th, td { padding: 0.5rem 1rem;
    &:nth-child(3) { min-width: 7.2em; }
  }
  th { font-size: 0.7em; text-align: left;
    &.change { text-align: right; padding-left: 0; padding-right: 0; }
  }
  td { border:1px solid #999;
    &:first-child { text-align: right; font-size:0.8em; vertical-align: middle; }
    &.title { cursor: pointer;
      &:hover { color:$blue; }
    }
    &.change { background-repeat: no-repeat; background-size: 0.8em 0.8em; background-position:center; width:3em; }
    &.up { background-image:url(../svg/up.svg);}
    &.down { background-image:url(../svg/down.svg);}
    &.same { background-image:url(../svg/same.svg);}
  }
}