header#header(v-on:click="expanded = !expanded" v-bind:class="{expanded: expanded}")
  img.fist(src="svg/fist-alone.svg" v-bind:class="{shaking: expanded}")
  aside.sidebar
    img.logo(src="svg/logo-alone-newbrand.svg" alt="Jerking site logo")
    ul
      li
        span.label This site by 
        span.indent
          a(href="http://ahoylemon.xyz" target="blank" onclick="sendEvent('outside link', 'http://ahoylemon.xyz')") Lemon
      li 
        span.label Current title count
        span.indent {{titleCount}}
      li 
        span.label More information can be found in the 
        span.indent
          a(href="https://github.com/AhoyLemon/jerking#readme" target="blank" onclick="sendEvent('outside link', 'https://github.com/AhoyLemon/jerking.online')") GitHub repo
      li.smaller A new list is generated every day.