meta(charset="utf-8")
title #{siteTitle}
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
link(href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet" type="text/css")
link(rel="stylesheet" href="css/jerking.css?v="+lastUpdated)
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content=description)
link(rel="canonical" href="https://jerking.ahoylemon.xyz")
meta(name="previous-url" content="https://jerking.online")
meta(name="previous-url" content="https://ahoylemon.github.io/jerking.online")
//- favicons
include _favicons.pug

//- social
include _social.pug