$color-casting: $blue;

button { font-family:$font; border:none; font-size:1em; padding:0.25em 0.5em; cursor: pointer;
  &.make-porn { @include position(fixed,null,null,0,0); background:$blue; color:$white; transition:transform 0.3s ease;
    &.invisible { transform:translateY(105%); }
  }
}

.porn-maker { @include position(fixed,0,null,$steps-height,0); transform:translateX(-105%); font-family: $font; transition:transform ease 1.3s;
  &.visible { transform:translateX(0); }
  .inner { padding:3em 1em 1em 1em; height: 100%; overflow-x: hidden; overflow-y:auto; }
  .close { @include position(absolute,0.25em,0.25em,null,null); color:$white; outline:none; cursor:pointer; font-weight:$bold; font-size:2em; padding:0; line-height:100%;
    background-color:$white; color:$blue; width:1em; border-radius: 50%;
    &:hover { transform:scale(1.25); }
  }
  &.casting { width:40em; background:$color-casting; }
}

.cast-selection { @include flex-container(); justify-content: space-between;
  .cast { @include flex-item(49%,0); }
}


article.cast { background:#fff; border:1px solid $black; margin-bottom: 1em; padding:1em; cursor: pointer;
  h4 { font-size:0.8rem; margin-top: .5em; }
  ul.stats { padding-left: 0;
    li { list-style-type: none; font-weight: $bold;
      &:before { font-weight: $medium; }
      &.gender:before { content: "gender: "; }
      &.sexuality:before { content: "sexuality: "; }
      &.height:before { content: "height: "; }
    }
  }
  ul.tags, ul.kinks { padding:0.2em 0 0 0; 
    li { border-radius: 0.35em; background:$black; color:$white; display: inline-block; padding:0.25em 0.75em; margin: 0 0.5em 0.5em 0; font-size:0.8em; }
  }
  &.active { background:$green; }
  &.incompatible { opacity: 0.4; cursor: not-allowed; }
}



.maker-steps { background:$black; @include position(fixed,null,null,0,0); height:$steps-height; padding:1em; transform: translateY(105%); transition:all 0.3s ease;
  ul { padding: 0; display: inline-block;
    li { display: inline-block; padding:0; list-style-type: none; border-radius: 50%;
      button {  border-radius:50%; width: 2em; text-align: center; padding:0; }
    }
  }
  .button-holder { display: inline-block; margin-left: 1em; }
  &.visible { transform: translateY(0); }
  button { background:$white; height: 2em;
    &.active { color:$white;
      &.casting { background:$color-casting; }
    }
    &[disabled] { background:rgba($white, 0.3); cursor:default; color:$black; }
  }
}