header { @include position(fixed,null,0,0); width:$sidebar; z-index: $z-sidebar; background:$black;
  .logo { cursor: pointer; }
  .fist { @include position(absolute,-50px,null,null,-96px); width:104px; height: 132px; z-index: $z-fist;
    &.shaking { animation: shake 0.96s cubic-bezier(.36,.07,.19,.97) both; transform: translateX(0); animation-iteration-count: infinite; }
  }
  h3 { text-align: center; font-weight: $medium; }
  .sidebar {  padding:1em; position: relative; z-index:$z-sidebar; }
  ul { color:$white; position: relative; padding-left: 0; }
  li { list-style-type: none; margin-bottom: 0.65em; }
  span {display: block;
    &.indent { padding-left: 0.75em; }
  }
  .smaller { font-size:80%; }
  a { color:$yellow; text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  transform:translateY(calc(100% - 120px));
  transition:all 0.3s ease-in;
  &.expanded { transform: translateY(0); }
}


@keyframes shake {
  10%, 90% {
    transform: translateY(-4px);
  }
  
  20%, 80% {
    transform: translateY(4px);
  }

  30%, 50%, 70% {
    transform: translateY(-8px);
  }

  40%, 60% {
    transform: translateY(8px);
  }
}

@media (max-width:560px) {
  header { max-width:calc(200px);
    transform:translateY(calc(100% - 90px));
    .logo { margin-bottom: 2rem;}
    .sidebar { font-size:0.85rem; }
  }
}