
<aside data-drawer="casting" class="porn-maker casting">
  <button data-closes="casting" class="close">X</button>
  <div class="inner">
    <div id="CastSelection" class="cast-selection"></div>
  </div>
</aside>
<aside data-drawer="plot" class="porn-maker plot">
  <button data-closes="casting" class="close">X</button>
  <div class="inner">
    <div id="PlotSelection" class="plot-selection"></div>
  </div>
</aside>
<aside class="maker-steps">
  <ul>
    <li>
      <button data-switch="casting" class="casting">1</button>
    </li>
    <li class="plot">
      <button data-switch="plot" disabled="disabled" class="casting">2</button>
    </li>
  </ul>
  <div class="button-holder">
    <button id="NextStep" data-switch="plot" disabled="disabled">Next Step</button>
  </div>
</aside>