
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "damn.dog",
    "url": "",
    "sameAs": "https://thefpl.us/also-made/damn-dog",
    "alternateName": "The WikiHow Illustration Game",
    "image": "/img/og-image.png",
    "playMode": "SinglePlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "genre": "guessing game",
    "description": "",
    "inLanguage": "English",
    "author": {
      "@type": "Person",
      "name": "Lemon",
      "url": "http://ahoylemon.xyz",
      "sameAs": [
        "https://thefpl.us/meet/lemon",
        "https://twitter.com/AhoyLemon"
      ]
    },
    "publisher": {
      "@type": "PerformingGroup",
      "name": "The F Plus",
      "url": "https://thefpl.us"
    },
  }
</script>