
<div class="sidebar">
  <ul>
    <li><span class="label">Game by</span><span class="indent"><a href="http://ahoylemon.xyz" target="blank" onclick="sendGA('outside link', 'http://ahoylemon.xyz')">Lemon</a></span></li>
    <li> <span class="label">Current round count</span><span class="indent"><span class="number-of-rounds"></span></span></li>
    <li><span class="label">Global average</span><span class="indent">63% correct</span></li>
    <li> <span class="label">There's a</span><span class="indent"><a href="https://github.com/AhoyLemon/Damn-Dog" target="blank" onclick="sendGA('outside link', 'https://github.com/AhoyLemon/Damn-Dog')">GitHub repo</a></span></li>
    <li><span class="label">You can</span><span class="indent"><a id="OpenSharebox">share this round.</a></span></li>
    <li id="AddToHomeScreen"><span class="label">or </span><span class="indent"> <a style="font-weight:bold;" id="HomescreenLink"></a></span></li>
    <li class="smaller">Your progress will be saved if you close this browser.</li>
  </ul>
</div>
<div class="share-round-holder helper-holder">
  <div class="share-round">
    <div class="child"><span>Just copy the URL. The other person will see this round.</span><a id="CloseSharebox" class="button close-sharebox">Alright.</a></div>
  </div>
</div>
<div id="HomescreenHolder" class="homescreen-help-holder helper-holder">
  <div class="homescreen-help">
    <div class="tap-that-icon top-right-icon">Tap that <span class="opera">heart </span>icon <span class="arrow">↑</span></div>
    <p class="ios">Tap the icon below, then choose <b>Add To Home Screen </b>from the menu that appears.</p>
    <p class="android">Then choose<b>Add to Home screen</b> from the menu that appears.</p>
    <p class="edge">Then choose <b>Pin this page to start</b> from the menu that appears.</p>
    <p class="desktop-chrome">Then choose <b>More Tools</b> and then <b>Add To Desktop</b></p><a id="CloseHomeScreenHelp" class="button close-homescreen-help">Okay, did it.</a>
    <div class="tap-that-icon ios bottom-center-icon"><span class="arrow">↓</span></div>
  </div>
</div>