button.make-porn(data-opens="casting") Make a Porn
aside.porn-maker.casting(data-drawer="casting")
  button.close(data-closes="casting") X
  .inner
    .cast-selection#CastSelection
aside.porn-maker.plot(data-drawer="plot")
  button.close(data-closes="casting") X
  .inner
    .plot-selection#PlotSelection
aside.maker-steps
  ul
    li
      button.casting(data-switch="casting") 1
    li.plot
      button.casting(data-switch="plot" disabled) 2
  .button-holder
    button#NextStep(data-switch="plot" disabled) Next Step