aside
  h1 
    span.small Hi, my name is 
    span.big Lemon.
  p I do a podcast called The F Plus and I also make weird little projects when I can find the time.

  ul
    li
      a(href="https://twitter.com/AhoyLemon")
        svg.icon(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100")
          path(d="M97 20.7c-3.5 1.5-7.2 2.6-11.1 3 4-2.4 7-6.2 8.5-10.7-3.7 2.2-7.9 3.8-12.2 4.7-3.5-3.7-8.5-6.1-14.1-6.1-10.7 0-19.3 8.6-19.3 19.3 0 1.5.2 3 .5 4.4-16-.8-30.2-8.5-39.7-20.1C7.9 18 7 21.4 7 24.9c0 6.7 3.4 12.6 8.6 16.1-3.2-.1-6.1-1-8.7-2.4v.2c0 9.3 6.6 17.1 15.5 18.9-1.6.4-3.3.7-5.1.7-1.2 0-2.5-.1-3.6-.3 2.5 7.7 9.6 13.2 18 13.4-6.6 5.2-14.9 8.3-24 8.3-1.6 0-3.1-.1-4.6-.3 8.5 5.5 18.7 8.7 29.6 8.7 35.3-.2 54.7-29.5 54.7-55 0-.8 0-1.7-.1-2.5 3.8-2.7 7.1-6.1 9.7-10")
        span Twitter
    li
      a(href="https://github.com/AhoyLemon")
        svg.icon(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100")
          path(d="M50.5 3.8C25 3.8 4.3 24.5 4.3 50.1c0 20.4 13.3 37.8 31.6 43.9 2.3.4 3.2-1 3.2-2.2 0-1.1 0-4.7-.1-8.6-12.9 2.8-15.6-5.5-15.6-5.5-2.1-5.3-5.1-6.8-5.1-6.8-4.2-2.9.3-2.8.3-2.8 4.6.3 7.1 4.8 7.1 4.8 4.1 7.1 10.8 5 13.5 3.8.4-3 1.6-5 2.9-6.2C31.8 69.3 21 65.4 21 47.6c0-5 1.8-9.2 4.8-12.4-.5-1.2-2.1-5.9.4-12.2 0 0 3.9-1.2 12.7 4.7 3.7-1 7.6-1.5 11.6-1.6 3.9 0 7.9.5 11.6 1.6 8.8-6 12.7-4.7 12.7-4.7 2.5 6.4.9 11.1.5 12.2 3 3.2 4.8 7.4 4.8 12.4 0 17.8-10.8 21.7-21.1 22.8 1.7 1.4 3.1 4.3 3.1 8.6 0 6.2-.1 11.2-.1 12.7 0 1.2.8 2.7 3.2 2.2C83.6 87.8 96.8 70.4 96.8 50c0-25.5-20.7-46.2-46.3-46.2zM21.6 69.7c-.1.2-.5.3-.8.1-.3-.2-.5-.5-.4-.7.1-.2.5-.3.8-.1.3.1.5.5.4.7zm2.3 2c-.2.2-.7.1-.9-.2-.3-.3-.4-.8-.1-1 .2-.2.6-.1.9.2.2.4.3.8.1 1zm1.5 2.6c-.3.2-.7 0-1-.4-.3-.4-.3-.9 0-1.1.3-.2.7 0 1 .4.3.4.3.9 0 1.1zm2.7 3c-.3.3-.8.2-1.2-.2-.4-.4-.5-.9-.3-1.2.3-.3.8-.2 1.2.2.4.4.5 1 .3 1.2zm3.4 1c-.1.4-.6.5-1.2.4-.5-.2-.9-.6-.8-.9.1-.4.6-.5 1.2-.4.5.2.9.6.8.9zm3.9.5c0 .4-.4.7-1 .7s-1-.3-1-.7c0-.4.4-.7 1-.7.5 0 1 .3 1 .7zm3.8-.2c.1.4-.3.8-.9.9-.5.1-1-.1-1.1-.5-.1-.4.3-.8.9-.9.5-.1 1 .2 1.1.5z")
        span GitHub
    li
      a(href="http://codepen.io/ahoylemon/")
        svg.icon(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100")
          path(d="M95.4 35.6c0-.1 0-.2-.1-.3 0-.1 0-.1-.1-.2 0-.1-.1-.2-.1-.3 0-.1-.1-.1-.1-.2s-.1-.2-.1-.3c0-.1-.1-.1-.1-.2-.1-.1-.1-.2-.2-.2 0-.1-.1-.1-.1-.2l-.2-.2-.2-.2-.2-.2c-.1 0-.1-.1-.2-.1h-.1L51.9 5.2c-1.3-.9-3-.9-4.4 0L5.8 33h-.1c-.1 0-.1.1-.2.1-.1.1-.2.1-.2.2-.1 0-.1.1-.2.2l-.2.2c0 .1-.1.1-.1.2-.1.1-.1.2-.2.2 0 .1-.1.1-.1.2s-.1.2-.1.3c0 .1-.1.1-.1.2s-.1.2-.1.3c0 .1 0 .1-.1.2 0 .1 0 .2-.1.3V64.9c0 .1 0 .2.1.3 0 .1 0 .1.1.2 0 .1.1.2.1.3 0 .1.1.1.1.2s.1.2.1.3c0 .1.1.1.1.2.1.1.1.2.2.2 0 .1.1.1.1.2l.2.2c.1 0 .1.1.2.1l.2.2c.1 0 .1.1.2.1h.1l41.8 27.9c.7.4 1.4.7 2.2.7.8 0 1.5-.2 2.2-.7l41.8-27.9h.1c.1 0 .1-.1.2-.1.1-.1.2-.1.2-.2.1 0 .1-.1.2-.2l.2-.2c0-.1.1-.1.1-.2.1-.1.1-.2.2-.2 0-.1.1-.1.1-.2s.1-.2.1-.3c0-.1.1-.1.1-.2s.1-.2.1-.3c0-.1 0-.1.1-.2 0-.1 0-.2.1-.3v-.2-28.3-.5c-.1-.1-.2-.1-.2-.2zm-45.7 24l-13.9-9.3L49.7 41l13.9 9.3-13.9 9.3zm-3.9-25.5l-17 11.4L15 36.3l30.8-20.5v18.3zM21.7 50.3l-9.8 6.6V43.7l9.8 6.6zm7.1 4.7l17 11.4v18.3L15 64.2 28.8 55zm24.9 11.4l17-11.4 13.8 9.2-30.8 20.5V66.4zm24.1-16.1l9.8-6.6v13.2l-9.8-6.6zm-7.1-4.8l-17-11.4V15.8l30.8 20.5-13.8 9.2z")
        span CodePen