header
  img.logo(src="svg/jerking.svg")
  aside.sidebar 
    ul
      li
        span.label This site by 
        span.indent
          a(href="http://ahoylemon.xyz" target="blank" onclick="sendGA('outside link', 'http://ahoylemon.xyz')") Lemon
      //-
        li
          span.label who also made
          span.indent
            a(href="http://idiots.win/" target="blank" onclick="sendGA('outside link', 'http://idiots.win/')") idiots.win
      li 
        span.label Current title count
        span.indent#TitleCount
      li 
        span.label There's a
        span.indent
          a(href="https://github.com/AhoyLemon/jerking.online" target="blank" onclick="sendEvent('outside link', 'https://github.com/AhoyLemon/Damn-Dog')") GitHub repo
      li.smaller A new list is generated every day.