script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Lemon",
    "url": "#{siteURL}",
    "sameAs": [
      "https://thefpl.us/meet/lemon",
      "https://twitter.com/AhoyLemon",
      "https://github.com/AhoyLemon"
    ],
    "affiliation": {
      "@type": "PerformingGroup",
      "name": "The F Plus",
      "url": "https://thefpl.us"
    },
    "image": "#{siteURL}/og-image.png",
    "jobTitle": "Website Maker"
  }
