script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "#{siteTitle}",
    "url": "#{siteURL}",
    "sameAs": "https://thefpl.us/also-made/jerking-online",
    "discussionUrl": "https://thefpl.us/also-made/jerking-online",
    "image": "#{siteURL}/img/og-image.png",
    "description": "#{description}",
    "inLanguage": "English",
    "typicalAgeRange": "18+",
    "isAccessibleForFree": free,
    "dateCreated": "2016-01-06",
    "creator": {
      "@type": "Person",
      "name": "Lemon",
      "url": "http://ahoylemon.xyz",
      "sameAs": [
        "https://thefpl.us/meet/lemon",
        "https://twitter.com/AhoyLemon"
      ]
    },
    "publisher": {
      "@type": "PerformingGroup",
      "name": "The F Plus",
      "url": "https://thefpl.us"
    }
    "contributor: [
      {
        "@type": "Person",
        "name": "Boots Raingear",
        "url": "https://thefpl.us/meet/boots-raingear"
      },
      {
        "@type": "Person",
        "name": "Bunnybread",
        "url": "https://thefpl.us/meet/bunnybread"
      }
    ]
  }